USE [master]
GO
/****** Object:  Database [HotelProduct]    Script Date: 9/23/2018 3:17:48 AM ******/
CREATE DATABASE [HotelProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelProduct.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelProduct_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelProduct]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 9/23/2018 3:17:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking](
	[HotelId] [int] NOT NULL,
	[RoomType] [varchar](50) NOT NULL,
	[MailId] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
